<template>
  <div class="container mx-auto">
    <topic-card v-if="topic" :topic="topic" title />

    <div class="mt-6" v-if="$store.state.user">
      <div class="flex">
        <span class="flex-1"></span>
        <button class="post-button bg-blue" @click="togglePostEditor">
          <DocumentAddIcon class="w-4 h-4 mr-2 fill-current inline-flex items-center" />
          <span>New Post</span>
        </button>
      </div>
      <div class="mt-4" v-if="postEditorActive">
        <post-editor :topicId="id" v-on:created="pushNewPost" />
      </div>
    </div>

    <div v-else class="mt-6 text-right">
      <nuxt-link to="/login" class="font-bold underline text-blue">Login</nuxt-link>
      {{' '}}to post your thoughts!
    </div>

    <div class="bg-white my-6 rounded-md shadow-md">
      <div v-if="posts.content.length === 0" class="text-xl text-gray-500 p-6">No one posted yet...</div>
      <div v-else>
        <div
          v-for="(post, index) in posts.content"
          :key="post.id"
          class="border-gray-200 border-b last:border-b-0"
        >
          <post-card :post="post" v-on:deleted="() => removePost(index)" />
        </div>
      </div>
    </div>
    <div v-if="posts.content.length" class="flex">
      <button class="inline-flex items-center" :disabled="posts.first" @click="prevPage">
        <arrow-thick-left class="fill-current h-4 w-4 inline mr-1" />
        <span>Prev</span>
      </button>
      <span class="flex-1"></span>
      <button class="inline-flex items-center" :disabled="posts.last" @click="nextPage">
        <span>Next</span>
        <arrow-thick-right class="fill-current h-4 w-4 inline ml-1" />
      </button>
    </div>
  </div>
</template>

<script>
import PostEditor from '~/components/PostEditor';
import TopicCard from '~/components/TopicCard';
import PostCard from '~/components/PostCard';
import DocumentAddIcon from '~/assets/icons/document-add.svg?inline';
import ArrowThickLeft from '~/assets/icons/arrow-thick-left.svg?inline';
import ArrowThickRight from '~/assets/icons/arrow-thick-right.svg?inline';

export default {
  components: {
    PostEditor,
    TopicCard,
    PostCard,
    DocumentAddIcon,
    ArrowThickLeft,
    ArrowThickRight
  },
  head() {
    return {
      title: this.topic.title + ' - ' + 'Parlare'
    };
  },
  validate({ params }) {
    const { id } = params;
    return /^\d+$/.test(id);
  },
  watchQuery: ['page'],
  data() {
    return {
      postEditorActive: false
    };
  },
  async asyncData({ $axios, route, error }) {
    const page = route.query.page ? parseInt(route.query.page) : 1;
    const id = parseInt(route.params.id);
    const topic = await $axios.$get(`/api/topics/${id}`);
    const posts = await $axios.$get(`/api/posts/${id}?page=${page - 1}`);
    if (!topic) {
      error({ statusCode: 404, message: 'Topic not found' });
    }
    return { posts, topic, id, page };
  },
  methods: {
    pushNewPost(post) {
      this.posts.content.push(post);
    },
    removePost(index) {
      this.posts.content.splice(index, 1);
    },
    togglePostEditor() {
      this.postEditorActive = !this.postEditorActive;
    },
    prevPage() {
      this.$router.push({ query: { page: this.page - 1 } });
    },
    nextPage() {
      this.$router.push({ query: { page: this.page + 1 } });
    }
  }
};
</script>

<style scoped>
.post-button {
  box-shadow: 0 3px 0px theme('colors.gray.800');
}
</style>