<template>
  <div class="container mx-auto">
    <topic-editor v-on:created="gotoCreatedTopic"></topic-editor>
  </div>
</template>

<script>
import TopicEditor from '~/components/TopicEditor';

export default {
  components: {
    TopicEditor
  },
  middleware({ store, redirect }) {
    if (!store.state.user) {
      return redirect('/login');
    }
  },
  head() {
    return {
      title: 'New Topic - Parlare'
    };
  },
  methods: {
    gotoCreatedTopic(topic) {
      this.$router.push(`/topics/${topic.id}`);
    }
  }
};
</script>
