<template>
  <div :class="`rounded-full w-${size} h-${size} bg-gray-300 flex justify-center items-center`">
    <span :class="`font-bold text-avatar${size} text-gray-500 select-none`">{{char}}</span>
  </div>
</template>

<script>
export default {
  props: {
    text: String,
    size: {
      default: 16,
      type: Number
    }
  },
  computed: {
    char() {
      return this.text.slice(0, 1);
    }
  }
};
</script>

<style>
</style>