<template>
  <div>
    <slot name="activator" :on="on"></slot>
    <div
      v-if="show"
      @click="hide"
      class="fixed w-screen h-screen flex justify-center items-center top-0 bottom-0 left-0 right-0 bg-mask z-30"
    >
      <div @click.stop class="dialog bg-gray-200 p-6 rounded-md shadow-xl z-40">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      on: {
        click: this.handleClick
      },
      show: false
    };
  },
  methods: {
    handleClick() {
      this.show = !this.show;
    },
    hide() {
      this.show = false;
    }
  }
};
</script>

<style scoped>
.dialog {
  @apply max-h-full;
  width: 370px;
  height: 280px;
}
</style>