<template>
  <div>
    <markdown v-show="preview" :md="value" />
    <textarea
      v-show="!preview"
      class="w-full block resize-none outline-none"
      :rows="rows"
      :placeholder="placeholder"
      :value="value"
      @input="$emit('input', $event.target.value)"
      ref="textarea"
    ></textarea>
  </div>
</template>

<script>
import Markdown from '~/components/Markdown';
import autoresize from 'autosize';

export default {
  mounted() {
    autoresize(this.$refs.textarea);
  },
  components: {
    Markdown
  },
  data() {
    return {
      preview: false,
      parsedHtml: ''
    };
  },
  props: {
    rows: {
      default: 10,
      type: Number
    },
    placeholder: {
      default: '# Body Markdown',
      type: String
    },
    value: {
      default: '',
      type: String
    }
  },
  methods: {
    togglePreview() {
      this.preview = !this.preview;
    },
    editMode() {
      this.preview = false;
    }
  }
};
</script>

<style>
</style>