<template>
  <div v-html="parsedHtml" class="markdown-body"></div>
</template>

<script>
import marked from 'marked';

export default {
  props: {
    md: String
  },
  computed: {
    parsedHtml() {
      return marked(this.md);
    }
  }
};
</script>

<style scoped>
.markdown-body >>> * {
  @apply my-4;
}
.markdown-body >>> h1 {
  @apply text-2xl font-bold;
}
.markdown-body >>> h2 {
  @apply text-xl font-bold;
}
.markdown-body >>> h3 {
  @apply text-lg font-bold;
}
.markdown-body >>> h4,
.markdown-body >>> h5,
.markdown-body >>> h6 {
  @apply text-base font-bold;
}

.markdown-body >>> p {
  @apply leading-8 overflow-x-hidden;
}

.markdown-body >>> a {
  text-decoration: underline;
}

.markdown-body >>> pre code {
  @apply p-3 rounded-sm block overflow-x-auto mx-0;
}

.markdown-body >>> code {
  @apply bg-gray-200 px-2 py-1 mx-1;
}

.markdown-body >>> blockquote {
  @apply pl-4 border-l-4 border-gray-300;
}

.markdown-body >>> ul {
  @apply list-disc pl-8;
}

.markdown-body >>> ol {
  @apply list-decimal pl-8;
}

.markdown-body >>> table {
  @apply block w-full overflow-auto;
}

.markdown-body >>> table th {
  @apply font-bold;
}

.markdown-body >>> table td,
.markdown-body >>> table th {
  @apply px-4 py-2 border border-gray-300;
}

.markdown-body >>> table tr {
  @apply bg-white border-t border-gray-200;
}

.markdown-body >>> table tr:nth-child(2n) {
  @apply bg-gray-100;
}
</style>