<template>
  <div>
    <div class="p-6 bg-white border-2 border-gray-500 rounded-md shadow-xl">
      <markdown-editor :rows="5" v-model="content" ref="editor" class="mb-6" />
      <button @click="send" class="bg-blue inline-flex items-center" :disabled="!content.trim()">
        <send-icon class="inline w-4 h-4 fill-current mr-1" />
        <span>Send</span>
      </button>
      <button @click="togglePreview" class="inline-flex items-center">
        <edit-pencil-icon v-if="buttonContent === 'Edit'" class="inline w-4 h-4 fill-current mr-1" />
        <view-show-icon v-else class="inline w-4 h-4 fill-current mr-1" />
        <span>{{ buttonContent }}</span>
      </button>
    </div>
  </div>
</template>

<script>
import MarkdownEditor from '~/components/MarkdownEditor';
import SendIcon from '~/assets/icons/send.svg?inline';
import EditPencilIcon from '~/assets/icons/edit-pencil.svg?inline';
import ViewShowIcon from '~/assets/icons/view-show.svg?inline';

export default {
  components: {
    MarkdownEditor,
    SendIcon,
    EditPencilIcon,
    ViewShowIcon
  },
  props: {
    topicId: Number
  },
  data() {
    return {
      content: '',
      buttonContent: 'Preview'
    };
  },
  methods: {
    send() {
      if (!this.content.trim()) {
        return;
      }
      const self = this;
      this.$axios
        .post(`/api/posts/${this.topicId}`, {
          content: this.content
        })
        .then(res => {
          self.$emit('created', res.data);
          self.$store.commit('increaseCredit');
          self.content = '';
          this.$refs.editor.editMode();
          this.buttonContent = 'Preview';
        });
    },
    togglePreview() {
      this.$refs.editor.togglePreview();
      this.buttonContent = this.$refs.editor.preview ? 'Edit' : 'Preview';
    }
  }
};
</script>