<template>
  <div class="p-6 break-words">
    <p class="font-bold">{{ username }}</p>
    <markdown class="py-6" :md="post.content" />
    <div class="flex items-center">
      <button
        class="bg-gray-700 inline-flex items-center mr-2 h-8"
        @click="like()"
        v-if="!post.liked"
      >
        <thumbs-up-icon class="fill-current inline w-4 h-4"></thumbs-up-icon>
        <span class="sm:hidden ml-1">Like</span>
        <span class="ml-1">{{ post.likesCount }}</span>
      </button>
      <button
        class="bg-gray-500 text-gray-800 inline-flex items-center mr-2 h-8"
        @click="unlike()"
        v-else
      >
        <thumbs-up-icon class="fill-current inline w-4 h-4"></thumbs-up-icon>
        <span class="sm:hidden ml-1">Liked</span>
        <span class="ml-1">{{ post.likesCount }}</span>
      </button>
      <button
        class="bg-danger inline-flex items-center mr-2 h-8"
        v-if="canDelete()"
        @click="deletePost()"
      >
        <trash-icon class="inline w-4 h-4 fill-current" />
        <span class="sm:hidden ml-1">Delete</span>
      </button>
      <span class="flex-1"></span>
      <span class="text-gray-500">{{ time }}</span>
    </div>
  </div>
</template>

<script>
import Markdown from '~/components/Markdown';
import ThumbsUpIcon from '~/assets/icons/thumbs-up.svg?inline';
import TrashIcon from '~/assets/icons/trash.svg?inline';

export default {
  components: {
    Markdown,
    ThumbsUpIcon,
    TrashIcon
  },
  props: {
    post: Object
  },
  computed: {
    username() {
      return this.post.user ? '@' + this.post.user.username : 'anonymous';
    },
    time() {
      if (this.post.time) {
        return new Date(this.post.time).toLocaleDateString();
      } else {
        return '';
      }
    }
  },
  methods: {
    like() {
      if (this.$store.state.user) {
        this.$axios.$post(`/api/posts/${this.post.id}/like`).then(() => {
          this.post.likesCount++;
          this.post.liked = true;
        });
      } else {
        this.$router.push('/login');
      }
    },
    unlike() {
      this.$axios.$delete(`/api/posts/${this.post.id}/like`).then(() => {
        this.post.likesCount--;
        this.post.liked = false;
      });
    },
    deletePost() {
      const self = this;
      this.$axios.delete(`/api/posts/${this.post.id}`).then(() => {
        self.$emit('deleted');
      });
    },
    canDelete() {
      return (
        this.post.user &&
        this.$store.state.user &&
        this.post.user.id === this.$store.state.user.id
      );
    }
  }
};
</script>

<style>
</style>