<template>
  <div>
    <div>
      <div class="p-6 border-2 bg-white rounded-md">
        <input
          type="text"
          v-model="title"
          placeholder="Title"
          class="text-3xl border-none bg-white px-0 mb-4 font-bold"
        />
        <markdown-editor ref="editor" v-model="content" />
      </div>
    </div>
    <div class="py-6">
      <button
        @click="create"
        class="bg-blue inline-flex items-center"
        :disabled="!(title.trim() && content.trim())"
      >
        <send-icon class="inline w-4 h-4 fill-current mr-1" />
        <span>Create</span>
      </button>
      <button @click="togglePreview" class="inline-flex items-center">
        <edit-pencil-icon v-if="buttonContent === 'Edit'" class="inline w-4 h-4 fill-current mr-1" />
        <view-show-icon v-else class="inline w-4 h-4 fill-current mr-1" />
        <span>{{ buttonContent }}</span>
      </button>
    </div>
  </div>
</template>

<script>
import MarkdownEditor from '~/components/MarkdownEditor';
import EditPencilIcon from '~/assets/icons/edit-pencil.svg?inline';
import ViewShowIcon from '~/assets/icons/view-show.svg?inline';
import SendIcon from '~/assets/icons/send.svg?inline';

export default {
  components: {
    MarkdownEditor,
    EditPencilIcon,
    ViewShowIcon,
    SendIcon
  },
  data() {
    return {
      title: '',
      content: '',
      buttonContent: 'Preview'
    };
  },
  methods: {
    create() {
      const self = this;
      this.$axios
        .post('/api/topics', {
          title: this.title,
          content: this.content
        })
        .then(res => {
          self.$emit('created', res.data);
          self.title = '';
          self.content = '';
        });
    },
    togglePreview() {
      this.$refs.editor.togglePreview();
      this.buttonContent = this.$refs.editor.preview ? 'Edit' : 'Preview';
    }
  }
};
</script>

<style>
</style>