<template>
  <div
    class="break-words cursor-pointer p-6 border-gray-400 border-2 bg-white rounded-md hover:border-gray-600 hover:shadow-xl transition-colors transition-shadow duration-200"
  >
    <div @click="gotoLink">
      <h2 :class="['font-bold', {'text-2xl': !title, 'text-4xl': title}]">{{ topic.title }}</h2>
      <markdown class="my-6" :md="topic.content" />
      <div class="flex text-gray-600 font-bold items-center">
        <span>@{{ topic.user.username }}</span>
        <span
          class="ml-1 bg-yellow-light px-2 rounded-md border-2 border-yellow-dark sm:hidden"
        >posts:{{ topic.postsCount }}</span>
        <span class="flex-1"></span>
        <span>{{ time }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import Markdown from '~/components/Markdown';

export default {
  components: {
    Markdown
  },
  props: {
    topic: Object,
    title: Boolean
  },
  computed: {
    time() {
      if (this.topic.time) {
        return new Date(this.topic.time).toLocaleDateString();
      } else {
        return '';
      }
    },
    link() {
      return `/topics/${this.topic.id}`;
    }
  },
  methods: {
    gotoLink() {
      if (!this.title) {
        this.$router.push(`/topics/${this.topic.id}`);
      }
    }
  }
};
</script>

<style>
</style>