html {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  @apply bg-gray-100 overflow-y-scroll;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

button {
  @apply bg-gray-700 rounded-sm outline-none py-1 px-3 text-white shadow appearance-none font-bold transition-shadow duration-100;
}

button[disabled] {
  @apply bg-gray-400 rounded-sm outline-none py-1 px-3 text-white shadow appearance-none font-bold cursor-default;
}

button:focus {
  @apply outline-none;
}

input {
  @apply block w-full px-2 py-1 outline-none border-2 rounded-sm border-gray-600 bg-gray-100 appearance-none;
}

input:focus {
  @apply border-blue;
}

textarea {
  @apply appearance-none;
}

.container {
  max-width: 950px;
  padding: 0 1.5rem;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
