<template>
  <div>
    <div class="container mx-auto">
      <h1 class="text-2xl font-bold mb-8 underline text-center">My Created Topics</h1>
      <div class="bg-white mb-3 rounded-md shadow-md" v-if="topics.content.length === 0">
        <div class="text-xl text-gray-500 p-6">You have not created a topic.</div>
      </div>
      <div class="mb-3 last:mb-0" v-else v-for="(topic, index) in topics.content" :key="topic.id">
        <topic-card :topic="topic" />
        <div class="flex mt-3">
          <span class="flex-1"></span>
          <button class="bg-danger inline-flex items-center" @click="deleteTopic(topic, index)">
            <trash-icon class="inline w-4 h-4 mr-1 fill-current" />
            <span>Delete</span>
          </button>
        </div>
      </div>
      <hr class="my-8" />
      <div class="flex">
        <button class="inline-flex items-center" :disabled="topics.first" @click="prevPage">
          <arrow-thick-left class="fill-current h-4 w-4 inline mr-1" />
          <span>Prev</span>
        </button>
        <span class="flex-1"></span>
        <button class="inline-flex items-center" :disabled="topics.last" @click="nextPage">
          <span>Next</span>
          <arrow-thick-right class="fill-current h-4 w-4 inline ml-1" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import TopicCard from '~/components/TopicCard';
import TrashIcon from '~/assets/icons/trash.svg?inline';
import ArrowThickLeft from '~/assets/icons/arrow-thick-left.svg?inline';
import ArrowThickRight from '~/assets/icons/arrow-thick-right.svg?inline';
import Dialog from '~/components/Dialog';

export default {
  components: {
    TopicCard,
    TrashIcon,
    ArrowThickLeft,
    ArrowThickRight,
    Dialog
  },
  validate({ query }) {
    const { page } = query;
    if (!page) return true;
    return /^\d+$/.test(page);
  },
  middleware({ store, redirect, route }) {
    const { username } = route.params;
    if (!store.state.user || store.state.user.username !== username) {
      return redirect('/');
    }
  },
  watchQuery: ['page'],
  async asyncData({ $axios, route }) {
    const page = route.query.page ? parseInt(route.query.page) : 1;
    const { username } = route.params;
    const topics = await $axios.$get(`/api/topics/user?page=${page - 1}`);
    return {
      topics,
      username,
      page
    };
  },
  head() {
    return {
      title: '@' + this.username
    };
  },
  methods: {
    deleteTopic(topic, index) {
      const self = this;
      this.$axios.delete(`/api/topics/${topic.id}`).then(() => {
        self.topics.content.splice(index, 1);
      });
    },
    prevPage() {
      this.$router.push({ query: { page: this.page - 1 } });
    },
    nextPage() {
      this.$router.push({ query: { page: this.page + 1 } });
    }
  }
};
</script>

<style>
</style>