<template>
  <div class="min-h-screen flex-col flex">
    <nav class="fixed top-0 left-0 right-0 bg-gray-200 z-10">
      <div class="container mx-auto">
        <div class="flex text-xl items-strech justify-center h-20 overflow-hidden">
          <span class="font-bold underline mr-6 text-blue nav-item">
            <news-paper-icon class="w-6 h-6 mr-3 fill-current" />
            <span>Parlare</span>
          </span>
          <nuxt-link class="nav-item nav-link" to="/">Home</nuxt-link>
          <nuxt-link class="nav-item nav-link" to="/topics/create">Topic+</nuxt-link>
          <nuxt-link class="nav-item nav-link" to="/resource">Resource</nuxt-link>
          <nuxt-link class="nav-item nav-link" to="/tasks">Tasks</nuxt-link>

          <span class="flex-1"></span>

          <div v-if="$store.state.user" class="nav-item-auto">
            <div @click="$router.push(`/users/${$store.state.user.username}`)">
              <avatar :text="$store.state.user.username" :size="12" class="cursor-pointer" />
            </div>
          </div>
          <div v-else class="nav-item-auto">
            <button class="bg-blue nav-item" @click="() => $router.push('/login')">Login</button>
          </div>
          <div class="justify-center items-center sm:flex hidden relative">
            <menu-icon
              @click="toggleMenu"
              class="w-6 h-6 fill-current text-gray-600 cursor-pointer"
            />
            <div :class="['menu', {hidden: !menuShow}]">
              <nuxt-link class="menu-item" to="/">Home</nuxt-link>
              <nuxt-link class="menu-item" to="/topics/create">Topic+</nuxt-link>
              <nuxt-link class="menu-item" to="/resource">Resource</nuxt-link>
              <nuxt-link class="menu-item" to="/tasks">Tasks</nuxt-link>
              <div
                v-if="$store.state.user"
                class="menu-item font-bold"
                @click="$router.push(`/users/${$store.state.user.username}`)"
              >@{{ $store.state.user.username }}</div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="mt-20 py-8 flex-1">
      <nuxt />
    </div>
    <div class="container mx-auto">
      <footer
        class="bg-yellow-light pt-8 pb-6 px-6 border-t-2 border-r-2 border-l-2 border-yellow-dark rounded-t-lg text-gray-600 font-bold leading-8 shadow-2xl"
      >
        <p>
          <nuxt-link to="/">Home</nuxt-link>
          <nuxt-link to="/topics/create">Topic+</nuxt-link>
          <nuxt-link to="/login">Login</nuxt-link>
          <nuxt-link to="/signup">Signup</nuxt-link>
          <a href="https://maoyachen.com" target="_blank">Blog</a>
        </p>
        <p>Parlare 2020</p>
      </footer>
    </div>
  </div>
</template>

<script>
import Avatar from '~/components/Avatar';
import NewsPaperIcon from '~/assets/icons/news-paper.svg?inline';
import MenuIcon from '~/assets/icons/menu.svg?inline';

export default {
  components: {
    Avatar,
    NewsPaperIcon,
    MenuIcon
  },
  transition: 'layout',
  data() {
    return {
      menuShow: false
    };
  },
  methods: {
    toggleMenu() {
      this.menuShow = !this.menuShow;
    }
  },
  watch: {
    $route() {
      this.menuShow = false;
    }
  }
};
</script>

<style>
nav {
  @apply border-b border-gray-300 shadow-md bg-white;
}

footer {
}

.nav-link {
  @apply px-3;
}

@screen sm {
  .nav-link {
    @apply hidden !important;
  }

  .nav-item-auto {
    @apply hidden !important;
  }
}

.nav-item {
  @apply flex justify-center items-center;
}

.nav-item-auto {
  @apply flex justify-center items-center;
}

.nav-item.nuxt-link-exact-active {
  @apply bg-gray-300 font-bold;
}

.menu {
  @apply z-10 bg-white block fixed rounded-md border-gray-400 border-2 select-none overflow-x-hidden shadow-xl;
  top: 70px;
  right: 1.5rem;
}

.menu.hidden {
  @apply hidden !important;
}

.menu-item {
  @apply block px-3 py-2 border-b border-gray-200;
}
</style>
