<template>
  <div class="container mx-auto flex">
    <div class="flex-1 w-2/3">
      <div class="mb-3 last:mb-0" v-for="topic in topics.content" :key="topic.id">
        <topic-card :topic="topic" />
      </div>
      <div class="flex">
        <button class="inline-flex items-center" :disabled="topics.first" @click="prevPage">
          <arrow-thick-left class="fill-current h-4 w-4 inline mr-1" />
          <span>Prev</span>
        </button>
        <span class="flex-1"></span>
        <button class="inline-flex items-center" :disabled="topics.last" @click="nextPage">
          <span>Next</span>
          <arrow-thick-right class="fill-current h-4 w-4 inline ml-1" />
        </button>
      </div>
    </div>
    <div class="w-64 ml-6 md:hidden flex-shrink-0">
      <div v-if="$store.state.user" class="me bg-white border-2 border-blue rounded-md sticky">
        <div class="bg-blue text-white text-center font-bold leading-10">ME</div>
        <div class="flex flex-col items-center p-6">
          <avatar :text="$store.state.user.username" />
          <span class="font-bold my-2 text-gray-800">@{{ $store.state.user.username }}({{$store.state.credit}})</span>
          <button class="w-full bg-blue mb-3" @click="$store.dispatch('logout')">Logout</button>
        </div>
      </div>
      <div v-else class="me bg-white border-2 border-blue rounded-md sticky">
        <div class="bg-blue text-white text-center font-bold leading-10">Join</div>
        <div class="p-6">
          <button class="w-full bg-blue mb-3" @click="() => $router.push('/login')">Login</button>
          <button class="w-full bg-blue" @click="() => $router.push('/signup')">Signup</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopicCard from '~/components/TopicCard';
import Avatar from '~/components/Avatar';
import ArrowThickLeft from '~/assets/icons/arrow-thick-left.svg?inline';
import ArrowThickRight from '~/assets/icons/arrow-thick-right.svg?inline';

export default {
  components: {
    TopicCard,
    Avatar,
    ArrowThickLeft,
    ArrowThickRight
  },
  validate({ query }) {
    const { page } = query;
    if (!page) return true;
    return /^\d+$/.test(page);
  },
  watchQuery: ['page'],
  methods: {
    prevPage() {
      this.$router.push({ query: { page: this.page - 1 } });
    },
    nextPage() {
      this.$router.push({ query: { page: this.page + 1 } });
    }
  },
  async asyncData({ $axios, route }) {
    const page = route.query.page ? parseInt(route.query.page) : 1;
    const topics = await $axios.$get(`/api/topics?page=${page - 1}`);
    return {
      page,
      topics
    };
  }
};
</script>

<style scoped>
.me {
  box-shadow: 0 6px 0px #0030b3;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: calc(80px + 2rem);
}
</style>
