<template>
  <div class="container mx-auto">
    <div
      @keypress.enter="login"
      class="login-form max-w-full mx-auto p-6 bg-yellow-light rounded-lg shadow-xl mt-10 border-2 border-yellow-dark"
    >
      <h1 class="mb-8 font-bold text-3xl">Login</h1>
      <div>
        <div>
          <label class="font-bold my-2 block">username</label>
          <input type="text" v-model="username" />
        </div>
        <div>
          <label class="font-bold my-2 block">password</label>
          <input type="password" v-model="password" />
        </div>
        <p class="mt-2 font-bold text-danger" v-if="errorMessage">{{ errorMessage }}</p>
        <button
          class="mt-8 bg-blue"
          @click="login"
          :disabled="!(username.trim() && password.trim())"
        >login</button>
        <button class="mt-8" @click="cancel">cancel</button>
        <p class="mt-5 text-gray-700">
          No account yet?
          <nuxt-link class="font-bold underline" to="/signup">Signup</nuxt-link>
          {{' '}}now!
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import md5 from 'js-md5';

export default {
  data() {
    return {
      username: '',
      password: '',
      errorMessage: ''
    };
  },
  methods: {
    login() {
      const self = this;
      this.$axios
        .post('/api/login', {
          username: this.username,
          password: md5(this.password)
        })
        .then(res => {
          self.$store.commit('login', res.data);
          self.$router.push('/');
        })
        .catch(err => {
          const { message } = err.response.data;
          self.errorMessage = message;
        });
    },
    cancel() {
      this.username = '';
      this.password = '';
      this.$router.push('/');
    }
  },
  head() {
    return {
      title: 'Login - Parlare'
    };
  },
  watch: {
    username() {
      this.errorMessage = '';
    },
    password() {
      this.errorMessage = '';
    }
  }
};
</script>

<style scoped>
.login-form {
  width: 380px;
}
</style>