<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-8 underline text-center">Resource Center</h1>
    <div v-if="$store.state.user" class="mb-4">
      <button @click="toggleUpload()" class="bg-blue inline-flex items-center" :disabled="haveFile">
        <cloud-upload-icon class="fill-current inline w-4 h-4 mr-1"></cloud-upload-icon>
        <span>Upload</span>
        <span class="ml-2" v-if="haveFile">{{ progressStr }}</span>
      </button>
      <form class="hidden" ref="uploadForm">
        <input type="file" ref="uploadInput" hidden @change="upload($event)" />
      </form>
    </div>
    <div v-else class="mb-8">
      <nuxt-link to="/login" class="font-bold underline text-blue">Login</nuxt-link>
      {{' '}}to upload your resource!
    </div>
    <div class="border-2 bg-white rounded-md p-2">
      <table class="border-collapse table-auto w-full">
        <thead>
          <tr class="text-left">
            <th>filename</th>
            <th class="hidden-td">user</th>
            <th class="hidden-td">date</th>
            <th class="text-right control"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in resource"
            :key="item.id"
            class="hover:bg-gray-100 duration-200"
          >
            <td>{{ item.name }}</td>
            <td class="hidden-td text-gray-600">{{ item.user.username }}</td>
            <td class="hidden-td text-gray-600">{{ readableDate(item.time) }}</td>
            <td class="text-right">
              <a
                :href="getFilePath(item)"
                :download="item.name"
                class="hidden"
                :id="'download-' + item.id"
              ></a>
              <button
                class="bg-danger inline-flex items-center mr-2 h-8"
                v-if="canDelete(item)"
                @click="deleteFile(item, index)"
              >
                <trash-icon class="inline w-4 h-4 fill-current" />
                <span class="sm:hidden ml-1">Delete</span>
              </button>
              <button class="inline-flex items-center mr-2 h-8" @click="download(item)">
                <download-icon class="inline w-4 h-4 fill-current" />
                <span class="sm:hidden ml-1">Download</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import CloudUploadIcon from '~/assets/icons/cloud-upload.svg?inline';
import TrashIcon from '~/assets/icons/trash.svg?inline';
import DownloadIcon from '~/assets/icons/download.svg?inline';

export default {
  components: {
    CloudUploadIcon,
    TrashIcon,
    DownloadIcon
  },
  async asyncData({ $axios }) {
    const resource = await $axios.$get(`/api/resource`);
    return {
      resource
    };
  },
  head() {
    return {
      title: 'Resource - Parlare'
    };
  },
  data() {
    return {
      progress: 0,
      haveFile: false
    };
  },
  methods: {
    readableDate(d) {
      return new Date(d).toLocaleDateString();
    },
    download(file) {
      document.getElementById(`download-${file.id}`).click();
    },
    getFilePath(file) {
      return '/files/' + file.uuid + '/' + file.name;
    },
    toggleUpload() {
      this.$refs.uploadInput.click();
    },
    upload(e) {
      const self = this;
      if (e.target.files.length) {
        this.haveFile = true;
        this.progress = 0;
        const [file] = e.target.files;
        let formData = new FormData();
        formData.append('file', file);
        this.$axios
          .post('/api/resource', formData, {
            headers: {
              'content-type': 'multipart/form-data'
            },
            onUploadProgress: progressEvent => {
              self.progress = progressEvent.loaded / progressEvent.total;
            }
          })
          .then(({ data }) => {
            self.resource = [data, ...self.resource];
            self.$refs.uploadForm.reset();
            self.haveFile = false;
          });
      } else {
        self.haveFile = false;
      }
    },
    canDelete(file) {
      return (
        this.$store.state.user && file.user.id === this.$store.state.user.id
      );
    },
    deleteFile(file, index) {
      this.$axios.delete(`/api/resource/${file.id}`).then(() => {
        this.resource.splice(index, 1);
      });
    }
  },
  computed: {
    progressStr() {
      return ((this.progress * 100) | 0) + '%';
    }
  }
};
</script>

<style scoped>
td,
th {
  @apply p-2;
}

.control {
  width: 300px;
}

@screen sm {
  .hidden-td {
    @apply hidden !important;
  }

  .control {
    width: 150px;
  }
}
</style>