<template>
  <div class="container mx-auto">
    <div
      class="signup-form max-w-full mx-auto p-6 bg-yellow-light rounded-lg shadow-xl mt-10 border-2 border-yellow-dark"
    >
      <h1 class="mb-8 font-bold text-3xl">Signup</h1>
      <div>
        <div>
          <label class="font-bold my-2 block">username</label>
          <input type="text" v-model="username" />
          <p class="mt-2 text-danger font-bold" v-if="errorMessage[0]">{{ errorMessage[0] }}</p>
        </div>
        <div>
          <label class="font-bold my-2 block">password</label>
          <input type="password" v-model="password" />
          <p class="mt-2 text-danger font-bold" v-if="errorMessage[1]">{{ errorMessage[1] }}</p>
        </div>
        <div>
          <label class="font-bold my-2 block">confirm password</label>
          <input type="password" v-model="confirmPassword" />
        </div>
        <p class="mt-2 text-danger font-bold" v-if="errorMessage[2]">{{ errorMessage[2] }}</p>
        <button class="mt-8 bg-blue" @click="signup" :disabled="!checked">signup</button>
        <button class="mt-8" @click="cancel">cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import md5 from 'js-md5';

export default {
  data() {
    return {
      username: '',
      password: '',
      confirmPassword: '',
      errorMessage: ['', '', '']
    };
  },
  methods: {
    signup() {
      const self = this;
      this.$axios
        .post('/api/users', {
          username: this.username,
          password: md5(this.password)
        })
        .then(() => {
          self.$router.push('/');
        })
        .catch(err => {
          const { message } = err.response.data;
          self.$set(self.errorMessage, 2, message);
        });
    },
    cancel() {
      this.$router.push('/');
    }
  },
  computed: {
    checked() {
      return (
        this.username.trim() &&
        this.password.trim() &&
        this.password === this.confirmPassword
      );
    }
  },
  head() {
    return {
      title: 'Signup - Parlare'
    };
  },
  watch: {
    username(value) {
      this.errorMessage[2] = '';
      if (!/^\w+$/.test(value)) {
        this.errorMessage[0] =
          'username can only consist of letters, numbers, and underscores';
      } else {
        this.errorMessage[0] = '';
      }
    },
    password(value) {
      if (!/^[^\s]+$/.test(value)) {
        this.errorMessage[1] = 'password cannot contain spaces';
      } else {
        this.errorMessage[1] = '';
      }
    }
  }
};
</script>

<style>
.signup-form {
  width: 380px;
}
</style>