<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-8 underline text-center">Tasks</h1>
    <div
      v-if="$store.state.user"
      class="p-6 bg-white border-2 border-gray-500 rounded-md shadow-md"
    >
      <h3 class="text-xl font-bold mb-4">New Task</h3>
      <markdown-editor :rows="5" v-model="content" ref="editor" class="mb-6" />
      <button @click="publish" class="bg-blue inline-flex items-center" :disabled="!content.trim()">
        <send-icon class="inline w-4 h-4 fill-current mr-1" />
        <span>Publish</span>
      </button>
      <button @click="togglePreview" class="inline-flex items-center">
        <edit-pencil-icon v-if="buttonContent === 'Edit'" class="inline w-4 h-4 fill-current mr-1" />
        <view-show-icon v-else class="inline w-4 h-4 fill-current mr-1" />
        <span>{{ buttonContent }}</span>
      </button>
    </div>

    <div class="tasks grid grid-cols-2 mt-8 gap-4">
      <div
        v-for="(task, index) in tasks"
        :key="task.id"
        class="break-words p-6 bg-white rounded-md shadow-md flex-col flex"
      >
        <div class="flex text-gray-600 font-bold items-center">
          <span>@{{ task.user.username }}</span>
        </div>
        <markdown class="py-1" :md="task.content" />
        <div class="flex-1"></div>
        <div class="flex text-gray-600 font-bold items-center">
          <span>{{ readableDate(task.time) }}</span>
          <span class="flex-1"></span>
          <button
            class="bg-danger inline-flex items-center mr-2 h-8"
            v-if="canDelete(task)"
            @click="deleteTask(task, index)"
          >
            <trash-icon class="inline w-4 h-4 fill-current" />
            <span class="sm:hidden ml-1">Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Markdown from '~/components/Markdown';
import MarkdownEditor from '~/components/MarkdownEditor';
import EditPencilIcon from '~/assets/icons/edit-pencil.svg?inline';
import ViewShowIcon from '~/assets/icons/view-show.svg?inline';
import SendIcon from '~/assets/icons/send.svg?inline';
import TrashIcon from '~/assets/icons/trash.svg?inline';

export default {
  data() {
    return {
      content: '',
      buttonContent: 'Preview'
    };
  },
  head() {
    return {
      title: 'Tasks - Parlare'
    };
  },
  components: {
    Markdown,
    MarkdownEditor,
    EditPencilIcon,
    ViewShowIcon,
    SendIcon,
    TrashIcon
  },
  async asyncData({ $axios }) {
    const tasks = await $axios.$get(`/api/tasks`);
    return {
      tasks
    };
  },
  methods: {
    readableDate(d) {
      return new Date(d).toLocaleDateString();
    },
    togglePreview() {
      this.$refs.editor.togglePreview();
      this.buttonContent = this.$refs.editor.preview ? 'Edit' : 'Preview';
    },
    publish() {
      const self = this;
      this.$axios
        .post('/api/tasks', {
          content: this.content
        })
        .then(res => {
          self.content = '';
          self.$refs.editor.editMode();
          self.buttonContent = 'Preview';
          self.tasks = [res.data, ...self.tasks];
        });
    },
    canDelete(task) {
      return (
        this.$store.state.user && task.user.id === this.$store.state.user.id
      );
    },
    deleteTask(task, index) {
      const self = this;
      this.$axios.delete(`/api/tasks/${task.id}`).then(() => {
        self.tasks.splice(index, 1);
      });
    }
  }
};
</script>

<style scoped>
@screen sm {
  .tasks {
    @apply grid-cols-1 !important;
  }
}
</style>